<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
    <a target="_blank" ng-click="downloadFile('Tweet', Tweet.id_str)">Download as json</a>
    <h2>Analyse and tweet statistics</h2>
    <span class="glyphicon glyphicon-dashboard bg-fade"></span>
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <div class="container">
                    <h3>"..{{Tweet.text}}.."</h3>
                    <div ng-if="Tweet.entities.urls.length" ng-repeat="url in Tweet.entities.urls">
                        <a href="{{url.url}}" target="_blank">{{ url.url}} </a>
                    </div>
                    <div ng-if="Tweet.entities.media.length" ng-repeat="media in Tweet.entities.media">
                        <img src="{{media.media_url}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 ng-if="Tweet.sentimentResult.sentiment.type == 'positive'" class="panel-title">Positive sentiment</h3>
                    <h3 ng-if="Tweet.sentimentResult.sentiment.type == 'neutral'" class="panel-title">Neutral sentiment</h3>
                    <h3 ng-if="Tweet.sentimentResult.sentiment.type == 'negative'" class="panel-title">Negative sentiment</h3>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <img ng-if="Tweet.sentimentResult.sentiment.type == 'positive'" ng-src="/images/positive.jpg" class="sentiment-icon"/>
                        <img ng-if="Tweet.sentimentResult.sentiment.type == 'neutral'" ng-src="/images/neutral.jpg" class="sentiment-icon"/>
                        <img ng-if="Tweet.sentimentResult.sentiment.type == 'negative'" ng-src="/images/negative.jpg" class="sentiment-icon" />
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Translated tweet</h3>
                </div>
                <div class="panel-body">
                        <p>{{Tweet.translatedText}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="emotions" chart-labels="emotionsHeaders" chart-legend="true">
            </canvas>
        </div>
        <div class="col-md-6">
            <canvas id="pie" class="chart chart-pie" chart-data="presence" chart-labels="categories" chart-legend="true">
            </canvas>
        </div>
    </div>

    <div class="row" ng-show="Tweet.extractedEntities.annotations.length">
        <h2>Entities used in tweet</h2>
        <div ng-repeat="annotation in Tweet.extractedEntities.annotations">
            <div class="col-md-{{12/Tweet.extractedEntities.annotations.length}}">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{annotation.label}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="clearfix">
                                <img ng-if="annotation.image.thumbnail" ng-src="{{annotation.image.thumbnail}}" class="img-thumbnail pull-left" />
                                <p style="padding-left: 5px">{{annotation.abstract}}</p>
                            </div>
                        </div>
                        <div><a ng-href="{{annotation.lod.wikipedia}}">{{annotation.lod.wikipedia}}</a></div>
                        <div><a ng-href="{{annotation.lod.dbpedia}}">{{annotation.lod.dbpedia}}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Concepts</h3>
                </div>
                <div class="panel-body">
                    <div ng-repeat="concept in Tweet.alchemyConcept.concepts">
                        <h4>{{concept.text}}</h4>
                        <div><a ng-href="{{concept.website}}">{{concept.website}}</a></div>
                        <div><a ng-href="{{concept.dbpedia}}">{{concept.dbpedia}}</a></div>
                        <div><a ng-href="{{concept.yago}}">{{concept.yago}}</a></div>
                        <div><a ng-href="{{concept.opencyc}}">{{concept.opencyc}}</a></div>
                        <div><a ng-href="{{concept.ciaFactbook}}">{{concept.ciaFactbook}}</a></div>
                        <div><a ng-href="{{concept.census}}">{{concept.census}}</a></div>
                        <div><a ng-href="{{concept.musicBrainz}}">{{concept.musicBrainz}}</a></div>
                        <div><a ng-href="{{concept.musicBrainz}}">{{concept.crunchbase}}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bottom-margin">
            <div>
                <canvas id="radar" class="chart chart-radar" chart-data="data" chart-labels="labels" chart-legend="true">
                </canvas>
            </div>
            <div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Keywords</h3>
                    </div>
                    <div class="panel-body">
                      <ul ng-repeat="keyword in Tweet.alchemyKeyword.keywords">
                          <b><li>{{keyword.text}}</li></b>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
