<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
    <h2>Compare users <small></small></h2>
    <span class="glyphicon glyphicon-dashboard bg-fade"></span>

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-search fa-5x"></i>
                        </div>
                        <div class="col-md-9 text-right">
                            <input type="text" ng-model="asyncSelected" placeholder="Search User" uib-typeahead="user as user.name + ' (' + user.screen_name +')' for user in searchUsers($viewValue)"
                                typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="onSelect($item)"
                                typeahead-min-length="3" typeahead-wait-ms="200" typeahead-template-url="customTemplate.html"
                                class="form-control input-underline input-lg">

                        </div>
                    </div>
                    <script type="text/ng-template" id="customTemplate.html" class="row">
                        <a>
                            <div class="row">
                                <div class="col-md-2" style="vertical-align: middle">
                                    <img src="{{match.model.profile_image_url}}" alt="" class="img-circle">
                                </div>
                                <div class="col-md-10" style="height: 60px; overflow-y: hidden">
                                    <div><strong>{{match.model.name}} ({{match.model.screen_name}})</strong></div>
                                    <p>{{match.model.description}}</p>
                                </div>
                            </div>
                        </a>
                    </script>
                    <div style="text-align: center">
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>

                </div>
            </div>

            <div ng-if="ComparedUser">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <img ng-if="ComparedUser" src="{{ComparedUser.profile_image_url}}" class="user-profile" /><br
                                />
                            </div>
                            <div class="col-md-7">
                                <h1>{{ComparedUser.name}}</h1>
                                {{ComparedUser.description}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div ng-if="ComparedUser" class="progress-wrapper">
                <div class="alert alert-info ng-cloak" style="text-align: center; font-weight: bolder">{{ preciseCurrent || current }} % similarity in tweets</div>
                <div style="text-align: center" round-progress max="100" current="current" color="#3ca2e0" bgcolor="#eaeaea" radius="300"
                    semi="true" rounded="rounded" stroke="80" clockwise="clockwise" responsive="responsive" duration="1200" animation="easeInOutQuart"
                    offset="0" animation-delay="800" on-render="showPreciseCurrent">

                    <svg>
                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="5%" stop-color="green" />
                            <stop offset="95%" stop-color="gold" />
                        </linearGradient>
                    </svg>
                </div>
            </div>


        </div>
        <div class="col-md-6">
            <div ng-if="similarityResult.concepts.length > 0">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Concepts</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="concept in similarityResult.concepts">
                            <h4>{{concept.text}}</h4>
                            <div><a ng-href="{{concept.website}}">{{concept.website}}</a></div>
                            <div><a ng-href="{{concept.dbpedia}}">{{concept.dbpedia}}</a></div>
                            <div><a ng-href="{{concept.yago}}">{{concept.yago}}</a></div>
                            <div><a ng-href="{{concept.opencyc}}">{{concept.opencyc}}</a></div>
                            <div><a ng-href="{{concept.ciaFactbook}}">{{concept.ciaFactbook}}</a></div>
                            <div><a ng-href="{{concept.census}}">{{concept.census}}</a></div>
                            <div><a ng-href="{{concept.musicBrainz}}">{{concept.musicBrainz}}</a></div>
                            <div><a ng-href="{{concept.musicBrainz}}">{{concept.crunchbase}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="similarityResult.entities.length > 0">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Entities</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="entity in similarityResult.entities">
                            <h4>{{entity.text}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="similarityResult.hashtags.length > 0">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Common hashtags</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="hashtag in similarityResult.hashtags">
                            <h4>{{hashtag}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="similarityResult.mentionedUsers.length > 0">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Common user mentions</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="username in similarityResult.mentionedUsers">
                            <h4>{{username}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>