<div>
    <a ui-sref="login" class="pull-right btn btn-primary btn-outline btn-rounded">Search another user</a>
    <a target="_blank" ng-click="downloadFile('Group')">Download as json</a>
    <h2>Overall activity of group of users</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-search fa-5x"></i>
                        </div>
                        <div class="col-md-9 text-right">
                            <input type="text" ng-model="asyncSelected" placeholder="Search User" uib-typeahead="user as user.name + ' (' + user.screen_name +')' for user in searchUsers($viewValue)"
                                typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="onSelect($item)"
                                typeahead-min-length="3" typeahead-wait-ms="200" typeahead-template-url="customTemplate.html"
                                class="form-control input-underline input-lg">

                        </div>
                    </div>
                    <script type="text/ng-template" id="customTemplate.html" class="row">
                        <a>
                            <div class="row">
                                <div class="col-md-2" style="vertical-align: middle">
                                    <img src="{{match.model.profile_image_url}}" alt="" class="img-circle">
                                </div>
                                <div class="col-md-10" style="height: 60px; overflow-y: hidden">
                                    <div><strong>{{match.model.name}} ({{match.model.screen_name}})</strong></div>
                                    <p>{{match.model.description}}</p>
                                </div>
                            </div>
                        </a>
                    </script>
                    <div style="text-align: center">
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="users.length > 0">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Users</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="user in users">
                            <div class="row">
                                <div class="col-md-1">
                                    <img ng-if="user" src="{{user.profile_image_url}}" class="img-circle" /><br />
                                </div>
                                <div class="col-md-9">
                                    <b>{{user.name}}</b> {{user.description}}
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-danger" ng-click="Remove($index)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button ng-click="analyzeGroup()" class="btn btn-primary btn-lg btn-block">Analyse</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div ng-if="Group"" class="row">
        <div class="col-md-8">
            <div class="row">
                <stats number="{{Group.statuses_count}}" comments="Statuses" colour="primary" type="comments"></stats>
                <stats number="{{Group.followers_count}}" comments="Folowers" colour="primary" type="user"></stats>
                <stats number="{{Group.friends_count}}" comments="Friends" colour="primary" type="user"></stats>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Most mentioned users</h3>
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="mentionedUser in Group.userMentions">
                                <div class="clearfix">
                                   <p ng-click="goToUser(mentionedUser.id)">{{mentionedUser.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Most used hashtags</h3>
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="hashtag in Group.hashTags">
                                <p>#{{hashtag.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Most popular tweets</h3>
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="tweet in Group.mostLikedTweets">
                                <p>{{tweet.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                 <div class="row bottom-margin">
        <div class="col-md-12">
            <div>
                <fc-chart fc-chart-type="pie3d" fc-data="taxonomyChartModel" width="1000" height="500"></fc-chart>
            </div>
            <div>
                <fc-chart fc-chart-type="mscombi2d" fc-data="dailyTweetsChartModel" width="1000" height="500"></fc-chart>
            </div>
        </div>        
    </div>

    <br />


    <div class="row bottom-margin">
        <div class="col-md-12 bottom-margin">
            <div style="text-align : center">
                <fc-chart fc-chart-type="mscombi2d" fc-data="combiChart" width="1000" height="400"></fc-chart>
            </div>
               <br/>
            <div style="text-align : center">
                <fc-chart fc-chart-type="mscombi2d" fc-data="emotionsChartModel" width="1000" height="400"></fc-chart>
            </div>
        </div>
    </div>
        </div>

        <div class="col-md-4">
            <chat tweets="Statuses"></chat>
        </div>
    </div>
</div>