<div>
	<a ui-sref="login" class="pull-right btn btn-primary btn-outline btn-rounded">Search another user</a>
    <a target="_blank" ng-click="downloadFile('Overview')">Download as json</a>
	<h2>@{{User.screen_name}}</h2>
    <div class="row">

        <div class="col-md-8">
            <div class="jumbotron" style= "background-image : {{User.profile_background_image_url}}">
                <div class="container">
                    <h1>{{User.name}}</h1>
                    {{User.description}}
                </div>
            </div>
            <div class="row">
                <stats number="{{User.statuses_count}}" comments="Statuses" colour="primary" type="comments"></stats>
                <stats number="{{User.followers_count}}" comments="Folowers" colour="primary" type="user"></stats>
                <stats number="{{User.friends_count}}" comments="Friends" colour="primary" type="user"></stats>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Most mentioned users</h3>
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="mentionedUser in User.userMentions">
                                <div class="clearfix">
                                   <p ng-click="goToUser(mentionedUser.id)">{{mentionedUser.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Most used hashtags</h3>
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="hashtag in User.hashTags">
                                <p>#{{hashtag.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Most popular tweets</h3>
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="tweet in User.mostLikedTweets">
                                <p>{{tweet.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <chat tweets="{{Statuses}}"></chat>
        </div>
    </div>


    </div>

</div>
