<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
    <a target="_blank" ng-click="downloadFile('Reports')">Download as json</a>
	<h2>Reports <small></small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>



    <div class="row bottom-margin">
        <div class="col-md-6">
            <div>
                <fc-chart fc-chart-type="pie3d" fc-data="taxonomyChartModel" width="600" height="400"></fc-chart>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <fc-chart fc-chart-type="mscombi2d" fc-data="dailyTweetsChartModel" width="600" height="400"></fc-chart>
            </div>
        </div>
    </div>

    <br />


    <div class="row bottom-margin">
        <div class="col-md-12 bottom-margin">
            <div style="text-align : center">
                <fc-chart fc-chart-type="mscombi2d" fc-data="combiChart" width="1000" height="400"></fc-chart>
            </div>
               <br/>
            <div style="text-align : center">
                <fc-chart fc-chart-type="mscombi2d" fc-data="emotionsChartModel" width="1000" height="400"></fc-chart>
            </div>
        </div>
    </div>


</div>
