.ui-base {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.user-avatar {
	width: 270px;
	height: 387px;
}

.user-profile{
  width: 200px;
  height: 200px;
}

.sentiment-icon {
  width: 250px;
  height: 164px;
}

.dropdown-menu li a {
 white-space: normal;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
}

.huge {
  font-size: 40px;
}

