<div class="chat-panel panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i>
        Statuses
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="chat" ng-repeat="tweet in Statuses">
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="{{tweet.user.profile_image_url}}" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">@{{tweet.user.screen_name}}</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> {{ tweet.created_at }}
                        </small>
                    </div>
                    <p>
                        {{tweet.text}}
                    </p>
                    <input type = "button" value="Analyse" ng-click="goToTweet(tweet.id_str)" class="btn btn-primary btn-sm pull-right" />
                </div>
            </li>
        </ul>
    </div>
</div>
