<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

        <div class="text-center">
          <h2 class="brand">{{User.name}}</h2>
          <img src="{{User.profile_image_url}}" class="user-profile" /><br />
        </div>

        <ul class="nav nav-sidebar">
          <li ng-class="{active:  $state.includes('overview')}"><a ui-sref="overview">Twitter overview <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: $state.includes('reports')}"><a ng-click="analyseTweets()">Analyse</a></li>
          <li ng-class="{active: $state.includes('compareUsers')}"><a ui-sref="compareUsers">Compare Users</a></li>
          <li ng-class="{active: $state.includes('group')}"><a ui-sref="group">Group</a></li>
        </ul>

      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" dw-loading="view" dw-loading-options="{active: false, text: false, overlay: true}"
        ui-view>
      </div>
    </div>
  </div>
</div>