<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	<img src="images/bird.png" class="user-avatar" />
			<h1>Twitter Analyst
                <div><small>Twitter API & Dandelion API & Yandex API & Alchemy API </small></div>
            </h1>
		</div>
	</div>
    <a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
</div>

