<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->


<div class="login-page">
    <div class="">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <img src="images/bird.png" class="user-avatar"/>

            <h1>Tweetanalyst
                <div>
                    <small>Twitter, Yandex, Dandelion & Alchemy API</small>
                </div>
            </h1>
            <div class="row">
                <input type="text" ng-model="asyncSelected" placeholder="Search User"
                       uib-typeahead="user as user.name + ' (' + user.screen_name +')' for user in searchUsers($viewValue)"
                       typeahead-loading="loadingLocations"
                       typeahead-no-results="noResults"
                       typeahead-on-select="onSelect($item)"
                       typeahead-min-length="3"
                       typeahead-wait-ms="200"
                       typeahead-template-url="customTemplate.html"
                       class="form-control input-underline input-lg">

                <script type="text/ng-template" id="customTemplate.html" class="row">
                    <a>
                        <div class="row">
                            <div class="col-md-2" style="vertical-align: middle">
                                <img src="{{match.model.profile_image_url}}" alt="" class="img-circle">
                            </div>
                            <div class="col-md-10" style="height: 60px; overflow-y: hidden">
                                <div><strong>{{match.model.name}} ({{match.model.screen_name}})</strong></div>
                              <p>{{match.model.description}}</p>
                            </div>
                        </div>
                    </a>
                </script>


                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>


        </div>
    </div>
</div>
